{% extends "layout.html" %}

{% block content %}
<form action="/restaurant/<int:restaurant_id>" method="POST">
Tähdet:
<p>
1 <input type="radio" name="rating" value="1">
2 <input type="radio" name="rating" value="2">
3 <input type="radio" name="rating" value="3">
4 <input type="radio" name="rating" value="4">
5 <input type="radio" name="rating" value="5">
<br>
<br>
Kommentti: <br>
<textarea name="comment" rows="3" cols="50"></textarea>
<p>
<input type="submit" value="Lisää arvio">
</form>
{% endblock %}