{% extends "layout.html" %}

{% block title %}Etusivu{% endblock %}

{% block content %}

<div class="homepage-container">
    <div class="main-section">

    <h2>Etusivu</h2>
    <p>Tervetuloa sovellukseen! Voit hakea ravintoloita kuvauksen perusteella ja lukea tietoja sekä arvioita ravintolasta. Näät myös etusivulla listan ravintoloista arvioiden mukaan järjestettynä. Lisäksi kirjautuneena voit antaa arvioita ravintoloista. Ylläpitäjänä voit lisätä ja poistaa ravintoloita sekä päättää mitä tietoja annat ravintoloista. Tietoja voi muokata jälkeenpäin. Voit myös poistaa arvioita ja lisätä ravintoloita ryhmiin.</p>

<h4>Etsi ravintolaa kuvauksen perusteella:</h4> 
<form action="/search" method="GET">
    Hakusana: <input type="text" name="query">
    <br>
    <br>
    <input type="submit" value="Hae">
    </form>

<h5>Tulokset:</h5>
{% if search_results %}
<ul>
{% for search_result in search_results %}
    <li><a href="/restaurant/{{ search_result.id }}">{{ search_result.name }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>Hakua vastaavia ravintoloita ei löytynyt.</p>
{% endif %}

</div>

<aside class="sidebar">

<h4>Ravintolat:</h4> 

{% if restaurants %}
    <ul>
    {% for restaurant in restaurants %}
        <li><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Ravintoloita ei löytynyt.</p>
{% endif %}
</aside>
</div>

{% endblock %}
