
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

<html>
  <head>
    <title>Ravintolasovellus - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="header">
      <h1>Ravintolasovellus</h1>
    </div>
    <nav>
    <ul>
    <li><a href="/">Etusivu</a></li>
    {% if session["user_role"] == "admin" %}
    <li><a href="/add_restaurant">Lisää uusi ravintola</a></li>
    <li><a href="/become_user">Poistu ylläpitäjätilasta</a></li>

    {% elif session["user_role"] == "user" %}
    <li><a href="/become_admin">Ylläpitäjäksi</a></li>
    {% endif %}

    {% if session.username %}
    <li><a href="/logout">Kirjaudu ulos</a></li>
    {% else %}
    <li><a href="/login">Kirjaudu sisään</a></li>
    {% endif %}
    </ul>
    </nav>

    {% if session.username %}
    <div class="user-name">
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    </div>
    {% endif %}
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="content-wrapper">
    {% block content %}{% endblock %}
    <hr>
  </body>
</html>