
<!doctype html>
<title>Ravintolasovellus - {% block title %}{% endblock %}</title>
<h1>Ravintolasovellus</h1>
<a href="/">Etusivu</a>

{% if session["user_role"] == "admin" %}
<a href="/add_restaurant">Lisää uusi ravintola</a>
{% endif %}

{% if session["user_role"] == "user" %}
<a href="/become_admin">Ylläpitäjäksi</a>
{% endif %}

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<a href="/login">Kirjaudu sisään</a>
{% endif %}
<hr>
{% block content %}{% endblock %}
<hr>