
<!doctype html>
<html>
  <head>
    <title>Ravintolasovellus - {% block title %}{% endblock %}</title>
  </head>
  <body>
    <h1>Ravintolasovellus</h1>
    <a href="/">Etusivu</a>

    {% if session["user_role"] == "admin" %}
    <a href="/add_restaurant">Lisää uusi ravintola</a>
    <a href="/become_user">Poistu ylläpitäjätilasta</a>
    {% endif %}

    {% if session["user_role"] == "user" %}
    <a href="/become_admin">Ylläpitäjäksi</a>
    {% endif %}

    {% if session.username %}
    <a href="/logout">Kirjaudu ulos</a>
    {% else %}
    <a href="/login">Kirjaudu sisään</a>
    {% endif %}

    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    {% endif %}
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color: red;">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    <hr>
    {% block content %}{% endblock %}
    <hr>
  </body>
</html>