{% extends "layout.html" %}

{% block content %}

<h2>{{ name }}</h2>
<ul>
<li>Aukioloajat : {{ openinghours }}
<li>Osoite : {{ address }}
<li>Tyyppi : {{ type }}
<li>Arvio : {{ avg_rating }}
<li>Info : {{ info }}


{% if groups %}
<li>Ryhmät :
<ul>
{% for group in groups %}
    <li>
        {{ group.name }}
    </li>
{% endfor %}
</ul>
{% endif %}

<br>
<br>



{% if session.username %}
<h3>Arvioi ravintola</h3>

<form action="/restaurant/{{ id }}" method="POST">
Tähdet:
<p>
1 <input type="radio" name="rating" value="1">
2 <input type="radio" name="rating" value="2">
3 <input type="radio" name="rating" value="3">
4 <input type="radio" name="rating" value="4">
5 <input type="radio" name="rating" value="5">
<br>
<br>
Kommentti: <br>
<textarea name="comment" rows="3" cols="50"></textarea>
<p>
<input type="submit" value="Lisää arvio">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<h3>Arvostelut:</h3>
{% if reviews %}
    <ul>
    {% for review in reviews %}
        <li>
            <strong>Arvosana:</strong> {{ review.rating }} / 5<br>
            <br>
            <strong>Kommentti:</strong> {{ review.comment }}<br>
            <br>
            <em>Käyttäjältä {{ review.username }}</em>
        </li>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>Ei vielä arvosteluja.</p>
{% endif %}
<br>

{% if session["user_role"] == "admin" %}
<a href="/add_group/{{ id }}">Lisää ravintola ryhmään
<br>
<br>
<a href="/delete_restaurant/{{ id }}"> Poista ravintola
<br>
<br>
<a href="/change_info_restaurant/{{ id }}"> Muokkaa tietoja
{% endif %}
{% endblock %}