{% extends "layout.html" %}

{% block content %}

<h2>{{ name }}</h2>
<ul>
<li>Aukioloajat : {{ openinghours }}
<li>Osoite : {{ address }}
<li>Tyyppi : {{ type }}
<li>Arvio : {{ avg_rating }}
<li>Info : {{ info }}

<br>
<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li style="color: red;">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<h3>Arvioi ravintola</h3>

<form action="/restaurant/{{ id }}" method="POST">
Tähdet:
<p>
1 <input type="radio" name="rating" value="1">
2 <input type="radio" name="rating" value="2">
3 <input type="radio" name="rating" value="3">
4 <input type="radio" name="rating" value="4">
5 <input type="radio" name="rating" value="5">
<br>
<br>
Kommentti: <br>
<textarea name="comment" rows="3" cols="50"></textarea>
<p>
<input type="submit" value="Lisää arvio">
</form>

{% if session["user_role"] == "admin" %}
<a href="/add_group/{{ id }}">Lisää ravintola ryhmään
<a href="/delete_restaurant/{{ id }}"> Poista ravintola
{% endif %}

{% endblock %}